<button class="add-link" onclick={{action (if  toggleAuthorModalDialog 'toggleAuthorModalDialog' 'togglePublisherModalDialog')}}>
    {{if toggleAuthorModalDialog "+ Add Author" "+ Add Publisher"}}
</button>