<div class="quote flex">
<blockquote>
    With a library you are free, not confined by temporary political climates. It is the most democratic of institutions because no one – but no one at all – can tell you what to read and when and how.
<cite>Doris Lessing</cite>
</blockquote>
</div>
<div class="cards flex light">
{{#link-to 'books'}}{{card-view data=books}}{{/link-to}}
{{#link-to 'authors'}}{{card-view data=authors}}{{/link-to}}
{{#link-to 'publishers'}}{{card-view data=publishers}}{{/link-to}}
</div>
{{outlet}}