<div class="center light">
    <section class="loading center">
        <img class="loading-img no-padding" src="loading.gif" alt="loading..." width="150">
        <h3>Loading...</h3>
    </section>
</div>